<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingETNAoup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ETNA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--Sede Lima-->
    <add name="cnETNA" connectionString="Database=ETNA;Server=SISTEMAS02;uid=sa;pwd=jrmsac" providerName="System.Data.SqlClient"/>
    
    <!--Sede Ica-->
    
  </connectionStrings>
  <system.web>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            La sección <authentication> permite configurar 
            el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <!--
            La sección <customErrors> permite configurar 
            las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <authentication mode="Forms">
      <forms name="Accesos" loginUrl="Seguridad/Login.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <trace enabled="false"/>
    <customErrors defaultRedirect="Seguridad/Error.aspx" mode="On"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="Estilos/General.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Estilos/HMIS_StyleSheet.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Imagenes/entrar.gif">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Imagenes/login2.jpg">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Imagenes/LogoPortal ver3.png">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <ETNA.Properties.Settings>
      <setting name="IPProxy" serializeAs="String">
        <value>192.168.90.5</value>
      </setting>
      <setting name="PuertoProxy" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="UserProxy" serializeAs="String">
        <value>adminaplicaciones</value>
      </setting>
      <setting name="PassProxy" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="DomProxy" serializeAs="String">
        <value>domparques</value>
      </setting>
      <setting name="IdApplication" serializeAs="String">
        <value>SR</value>
      </setting>
      <setting name="NumeroRegistrosInicialPorPagina" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="NumeroRegistrosPorPagina" serializeAs="String">
        <value>10|20|30|40|50</value>
      </setting>
      <setting name="SRET_swSeguridad_WSSeguridad" serializeAs="String">
        <value>http://dtmartsrv/WSHMIS2/WSSeguridad.asmx</value>
      </setting>
      <setting name="Tx_Servidor_De_Informes" serializeAs="String">
        <value>http://appsrv/ReportServer/Pages/ReportViewer.aspx?%2fETNA%2f</value>
      </setting>
      <setting name="UrlWSSeguridad" serializeAs="String">
        <value>http://dtmartsrv/WSHMIS2/WSSeguridad.asmx</value>
      </setting>
      <setting name="ETNA_swSeguridad_WSSeguridad" serializeAs="String">
        <value>http://sistem04/WSHMIS2/WSSeguridad.asmx</value>
      </setting>
    </ETNA.Properties.Settings>
  </applicationSettings>
</configuration>