<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--Sede Lima-->
    <add name="cnETNA" connectionString="Database=ETNA;Server=localhost;Integrated Security=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="img">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmLogin.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <authentication mode="Forms">
      <forms name="AccETNA" loginUrl="frmLogin.aspx" timeout="2880" protection="All" defaultUrl="frmBienvenida.aspx" path="/"/>
    </authentication>
  </system.web>

</configuration>
