<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <connectionStrings>
    <add name="Cn" providerName="SQLServer"
         connectionString="Data Source=HITSS-PC\SQLEXPRESS;Initial Catalog=ETNA;User Id=sa; Password=12345678;"/>   
  </connectionStrings>

  <!--
  <connectionStrings>
    <add name="Cn" providerName="SQLServer"
         connectionString="uid=sa;pwd=sa;server=LCAUCHO3;database=ETNA"/>
  </connectionStrings>
 -->


</configuration>