<?xml version="1.0"?>
<configuration>

  <!--
  <connectionStrings>
    <add name="Cn" providerName="SQLServer" connectionString="Data Source=HITSS-PC\SQLEXPRESS;Initial Catalog=ETNA;User Id=sa; Password=12345678;"/>   
  </connectionStrings>
  -->

  <!--
  <connectionStrings>
    <add name="Cn" providerName="SQLServer"
         connectionString="uid=sa;pwd=sa;server=LCAUCHO3;database=ETNA"/>
  </connectionStrings>
 -->

  
  <connectionStrings>
    <add name="Cn" connectionString="Database=ETNA;Server=localhost;Integrated Security=True" providerName="SQLServer"/>  
  </connectionStrings>

 <!--
  <connectionStrings>
    <add name="Cn" providerName="SQLServer"
         connectionString="uid=sa;pwd=sa;server=SISTEMA05;database=ETNA"/>
  </connectionStrings>
-->

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
